
.container1 {
    display: "flex";
    flex-direction: "column";
    height: "100vh";
    justify-content: "space-evenly";
}

.btn-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-2 {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    list-style: none;
}

.nav-link {
    text-decoration: none;
}